@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
	/*background: #567;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 30px;
}

.header, .main {
	margin: 0 auto;
	max-width: 600px;
}

/*.main {
	background: #fff;
	border: 10px solid #def;
	border-radius: 10px;
	color: #333;
}

.main-header {
	display: none;
	font-size: 150%;
	font-weight: bold;
}

.objective {
	background: #345;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
}

.position {
	border-bottom: 10px solid #def;
	margin-bottom: 15px;
}

.position-header {
	font-size: 125%;
	font-weight: bold;
}

.objective, .position {
	padding: 15px;
}*/
